<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Movie-Ticket Application::Admin-View-Movie</title>
<link rel="stylesheet" href="../../static/css/main.css"
	th:href="@{/css/main.css}" />
</head>
<body>
	<div class="container">
		<header id="header-info">
			<div class="header-class">
				<div>
					<img src="../../../static/images/logo/movie-logo.jpg"
						th:src="@{/images/logo/movie-logo.jpg}" alt="Project Logo" width='80px'
						height='80px' class="image" />
				</div>
				<div id="header-title">
					<h1>Online Movie-Ticket Application</h1>
				</div>
				<div sec:authorize="isAuthenticated()">

					Welcome ! <span sec:authentication="name"></span> <br>
					<!--  Roles: <span sec:authentication="principal.authorities"></span> <br>-->
					<!-- <br> -->
					<div>
						<form th:action="@{/logout}" method="post">
							<input type="submit" value="Logout" />
						</form>
					</div>
				</div>
			</div>
		</header>
		<nav th:replace="fragments/menu.html::menu"></nav>
		<!--  
		<section>
			<nav>
				<ul>
					<li> <a href="" th:href="@{/admin/add-movie}"> Add Movie </a></li>
					<li><a href="" th:href="@{/admin/edit-movie}"> Edit Movie</a></li>
					<li><a href="" th:href="@{/admin/delete-movie}"> Delete Movie</a></li>
				</ul>
			</nav>
		</section>
		-->
		<main class="main-admin-dashboard">
			<!-- Sidebar -->
			<div class="admin-sidebar">
				<div>
				
			<a href="#" th:href="@{/admin/view-users}">User Configure</a>
					<a href="#" th:href="@{/admin/view-movies}">Movie Configure</a>
					<a href="#">Settings</a>
					<a href="#">Lot Out</a>
					<div class="divider"></div>
				</div>
			</div>
			<!-- End of Sidebar -->
			
			<!-- Main content -->
			<div class="admin-main-content">
				<h2>Available Movies List</h2>
				<br />
				<a class="href-link" href="#" th:href="@{/admin/add-movie}"> Add New Movie</a>
				<br />
				<br />
				<div>
					<table border="1">
						<tr>
							<th>Movie Name</th>
							<th>Genre</th>
							<th>Lanuage</th>
							<th>Show Time</th>
							<th></th>
							
						</tr>
						<tr th:each="movie: ${listMovies}">
							<td th:text="${movie.movieName}">User Name</td>
							<td th:text="${movie.movieGenre}">First Name</td>
							<td th:text="${movie.language}">Last Name</td>
							<td th:text="${movie.showTime}">User Role</td>
							
							<td>
								&nbsp; &nbsp;<a  href="#" th:href="@{/admin/edit-movie/{id}(id=${movie.id})}"> Edit</a> &nbsp; &nbsp;
								&nbsp; &nbsp;<a  href="#" th:href="@{/admin/delete-movie/{id}(id=${movie.id})}"> Delete</a>
							</td>
							
						
						</tr>
					</table>
				</div>
			</div>
			<!-- End of Main Content -->
			


		</main>
	
	</div>
	<footer id="footer-info">
			<div th:replace="fragments/footer.html::footer"></div>
		</footer>

</body>
</html>